.jumbotron{
    background-image:-moz-linear-gradient(left, #FF0000, black);
    h1 {
        color: white;
        text-align: center;
        font: 100px Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }
}
.container{
    margin-top: 50px;
    margin-bottom: 30px;
    border: 10px solid red;
    border-radius: 20px;
    width: 70%;
    padding: 20px;
    background-color:  #d7dbdd;
    box-shadow: 10px 10px 5px grey;
    .formulaires{
        display: flex;
        justify-content: space-around;
        h2{
            font: 25px Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
            font-weight: bold;
        }
        label{
            font: 20px Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
            color: #FF0000;
        }
        input{
            font: 17px Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
            color:    #a6acaf;
            border: 2px solid black;
            border-radius: 10px;
            padding: 5px;
        }
    }
    button{
        width: 40%;
        margin: 20px;
        margin-left: 25%;
        font: 17px Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }
}
